nav {
	background: yellow;
	width: 70px;
	height: 70px;
	margin: 20px;
	display: flex;
	border: 2px solid black;
}

.leftnav {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.centernav {
	height: 100%;
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
}
.rightnav {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;

}